<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: html_header(Add_Edit_Parameter)}"></head>
<body>
<nav th:replace="~{/fragments/navbar :: navbar_container}"></nav>
<div class="container-fluid">
    <div style="margin-right: 0.5em; margin-left: 0.5em; text-align: left; width: 50%">
        <div class="page-title-holder d-flex align-items-center">
            <h2 class="mt-4" style="margin-bottom: 0.5em; margin-left: 0.5em">Добавить / редактировать параметр</h2>
        </div>
        <div>
            <form action="#" th:action="@{/parameters/add}" th:object="${parameter}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="mb-3">
                    <label for="name" class="form-label">Наименование параметра:</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Адрес:</label>
                    <input type="text" class="form-control" id="address" th:field="*{address}">
                </div>
                <div class="mb-3">
                    <label for="deviceType" class="form-label">Тип устройства:</label>
                    <select class="form-select" aria-label="Default select example" id="deviceType"
                            th:field="*{deviceType.id}">
                        <option th:each="deviceType : ${deviceTypes}" th:value="${deviceType.id}"
                                th:text="${deviceType.name}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="metric" class="form-label">Метрика:</label>
                    <input type="text" class="form-control" id="metric" th:field="*{metric}">
                </div>
                <div class="mb-3">
                    <label for="additive" class="form-label">Константа:</label>
                    <input type="number" class="form-control" id="additive" th:field="*{additive}">
                </div>
                <div class="mb-3">
                    <label for="coefficient" class="form-label">Коэффициент:</label>
                    <input type="text" class="form-control" id="coefficient" th:field="*{coefficient}" step="any">
                </div>
                <div class="mb-3">
                    <label for="dataType" class="form-label">Тип данных:</label>
                    <select class="form-select" aria-label="Default select example" id="dataType"
                            th:field="*{dataType}">
                        <option th:each="dataType : ${T(com.example.spector.domain.enums.DataType).values()}"
                                th:value="${dataType}" th:text="${dataType}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Описание:</label>
                    <textarea type="text" id="description" rows="3" class="form-control"
                              th:field="*{description}"></textarea>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
