<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/header :: html_header(Parameters)}"></head>
<body>
<nav th:replace="~{/fragments/navbar :: navbar_container}"></nav>
<div class="container-fluid">
    <div class="page-title-holder d-flex align-items-center">
        <h1 class="mt-4" style="margin-bottom: 0.9em; margin-left: 0.5em">Параметры</h1>
    </div>
    <div style="margin-bottom: 1.5em; margin-left: 0.5em; margin-right: 0.5em">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Device Type</th>
                <th>Data Type</th>
                <th>Metric</th>
                <th>Additive</th>
                <th>Coefficient</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="parameter : ${parameters}">
                <td th:text="${parameter.id}"></td>
                <td th:text="${parameter.name}"></td>
                <td th:text="${parameter.address}"></td>
                <td th:text="${parameter.deviceType.name}"></td>
                <td th:text="${parameter.dataType}"></td>
                <td th:text="${parameter.metric}"></td>
                <td th:text="${parameter.additive}"></td>
                <td th:text="${parameter.coefficient}"></td>
                <td th:text="${parameter.description}"></td>
                <td>
                    <a class="btn btn-sm btn-primary" th:href="@{/parameters/edit/{id}(id=${parameter.id})}">Edit</a>
                    <a class="btn btn-sm btn-danger" th:href="@{/parameters/delete/{id}(id=${parameter.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="/parameters/add" class="btn btn-success">Добавить параметр</a>
</div>
</body>
</html>
