<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Определяем appender для логов скрипта-опроса -->
    <appender name="SNMP_POLLING_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/snmp-polling.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DEVICE_FILE" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>deviceName</key>
            <defaultValue>deviceName_IS_UNDEFINED</defaultValue>
        </discriminator>

        <sift>
            <appender name="DEVICE_${deviceName}" class="ch.qos.logback.core.FileAppender">
                <file>logs/devices/${deviceName}.log</file>
                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <pattern>%d{yyyy-MM-dd HH:mm:ss} %level - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <!-- Логируем в консоль -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
<!--        <appender-ref ref="APPLICATION_FILE"/>-->
    </root>

    <!-- Логгер для скрипта -->
    <logger name="com.example.spector.modules.event.channels.LogChannel" level="INFO" additivity="false">
        <appender-ref ref="SNMP_POLLING_FILE"/>
    </logger>

    <!-- Логгер для каждого устройства -->
    <logger name="DeviceLogger" level="INFO" additivity="false">
        <appender-ref ref="DEVICE_FILE"/>
    </logger>

    <!-- Логи веб-сервиса -->
    <logger name="org.springframework.web" level="INFO"/>
</configuration>