<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: html_header(Add_Edit_Threshold)}"></head>
<body>
<nav th:replace="~{/fragments/navbar :: navbar_container}"></nav>
<div class="container-fluid">
    <div style="margin-right: 0.5em; margin-left: 0.5em; text-align: left; width: 50%">
        <div class="page-title-holder d-flex align-items-center">
            <h2 class="mt-4" style="margin-bottom: 0.5em; margin-left: 0.5em">Добавить / редактировать пороговое
                значение</h2>
        </div>
        <div>
            <form action="#" th:action="@{/thresholds/add}" th:object="${threshold}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="mb-3">
                    <label for="lowValue" class="form-label">Нижний порог:</label>
                    <input type="text" class="form-control" id="lowValue" th:field="*{lowValue}" step="any">
                </div>
                <div class="mb-3">
                    <label for="highValue" class="form-label">Верхний порог:</label>
                    <input type="text" class="form-control" id="highValue" th:field="*{highValue}" step="any">
                </div>
                <div class="mb-3">
                    <div lass="form-check">
                        <label for="isEnable" class="form-check-label">Включить для опроса:</label>
                        <input type="checkbox" id="isEnable" class="form-check-input" th:field="*{isEnable}">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="parameter" class="form-label">Параметр:</label>
                    <select class="form-select" aria-label="Default select example" id="parameter"
                            th:field="*{parameter.id}">
                        <option th:each="parameter : ${parameters}" th:value="${parameter.id}"
                                th:text="${parameter.name}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="device" class="form-label">Устройство:</label>
                    <select class="form-select" aria-label="Default select example" id="device"
                            th:field="*{device.id}">
                        <option th:each="device : ${devices}" th:value="${device.id}"
                                th:text="${device.name}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
